body {
    background-image: src="background.jpeg";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: cover;
    background-size: 100%
}

h2 {
    color: white;
    font-style: normal;
    font-size: 2rem;
    position: absolute;
}

p {
    color: white;
}